<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Whol'up Backend REST API</h1>
    <p>À consommer sans modération</p>
  </body>
</html>
